.footer {
  width: 100%;
  height: 100px;
  background-color: #ff9b9b;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: #7c1db8;
  margin: 15px;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: #ffeadd;
}
